.header__wrap {
    display: flex;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 30px;
    width: 80%;
    margin: auto;
}

.header__text {
    margin: 0;
    text-align: center;
    font-size: 20px;
    padding: 0;
    border: none;
}
.header__month {
    margin: 0;
    text-align: center;
    font-size: 20px;
    padding: 0 3%;
    border: none;
}

.date__change-button {
    padding: 0 15px;
    font-size: 20px;
    color: steelblue;
    border: 1px solid steelblue;
    background-color: white;
}